*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box1 navbar */
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2 navbar */
.add-icon{
    display: flex;
    align-items: center;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
/* box3 navsearch */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius : 4px;
    border-bottom-right-radius : 4px;
    color: #0f1111;
}
.language{
    text-align: center;
    border: none;
}
.language i{
    font-size: 30px;
}
.navfirst{
    width: 70px;
    font-size: 12px;
    font-family: arial, sans-serif;
}
.navsecond{
    width: 133;
    font-size: 14px;
    font-weight: 700;
}
.cart{
    width: 133;
    font-size: 14px;
    font-weight: 700;
}
.navcart i{
    font-size: 30px;

}
/* panels */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 10px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-ops p:hover{
    border: 1.5px solid white;
}
.panel-deals{
    font-size: 0.9;
    font-weight: 700;
}
.panel-deals:hover{
    border: 1.5px solid white;
}
.panel-all:hover{
    border: 1.5px solid white;

}
/* hero section */
.hero-section{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem ;
    margin-right: 1rem ;
}
.box-content p{
    color: #007185;
}
